/* Fonts */

@font-face {
    font-family: SourceCodePro;
    src: url(SourceCodePro.ttf);
}

* {
    font-family: SourceCodePro;
    user-select: none;
    -webkit-user-select: none;
}


/* General */

html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

body {
    background: #222323;
    color: #f0f0f6;
}

/* Classes */

.storeCard {
    background: #333434;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    width: calc(100% - 20px);
    height: 60px;
    margin: 10px;
    padding: 15px;
}

.storeCard:hover {
    background: #444545;
}

.storeCard:active {
    background: #333434;
}

.storeCardLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.storeCardRight {
    display: flex;
    justify-content: right;
    width: 50%;
}

.storeCardTitle {
    font-size: 14pt;
    font-weight: bold;
}

.storeCardDesc {
    font-size: 10pt;
    font-style: italic;
}

.storeCardPrice {
    font-size: 22pt;
}

.navBarContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    box-sizing: border-box;
    width: calc(100% - 20px);
    height: 40px;
    margin: 10px 10px 0px 10px;
}

.navBarButton {
    background: #333434;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.navBarButton:hover { background: #444545; cursor: pointer; }
.navBarButton:active { background: #333434; }

.navBarButtonNotify {
    background: #ef476f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    animation-name: flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.navBarButtonNotify:hover { cursor: pointer; }

/* Unique IDs */

#mainContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100%;
}

#rightContainer {
    background: #1b1b1c;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 100%;
}

#counter {
    font-size: 48pt;
    font-weight: bold;
}

#label {
    font-size: 24pt;
    margin-bottom: 60px;
}

#pixel {
    background: #ef476f;
    width: 300px;
    height: 300px;
    transition: transform 0.1s ease-in, scale 0.1s ease-in;
}

#pixel:hover {
    cursor: pointer;
    transform: scale(0.95);
    animation: wobble 0.5s ease-out;
}

#pixel:active {
    transform: scale(0.95);
    animation: bounce 0.5s ease-out;
}

#storeContainer {
    width: 100%;
    height: 100%;
}

/* Animations */
@keyframes wobble {
    0%   { transform: scale(0.98); }
    25%  { transform: scale(0.92); }
    50%  { transform: scale(0.96); }
    75%  { transform: scale(0.93); }
    100% { transform: scale(0.95); }
}

@keyframes bounce {
    0%   { transform: scale(0.95); } 
    50%  { transform: scale(0.93); } 
    100% { transform: scale(0.95); } 
}

@keyframes flash {
    0%   { background-color: #333434; }
    50%  { background-color: #ef476f; }
    100% { background-color: #333434; }
}